body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.column {
  display: inline;
  height: 100vh;
  width: 50vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.left {
  float: left;
  background-color: pink;
}

.right {
  float: right;
}

.row {
  width: 100%;
  height: 50vh;
}

.blue {
  background-color: blue;
}

.from-bottom {
  position: relative;
  animation: bottom 5s ease-out infinite running;
}

@keyframes bottom {
  0% {
    top: 100%;
  }
  50%, 90% {
    top: 0;
    transform: scale(1, 1);
  }

  100% {
    top: -100px;
    transform: scale(2, 2);
  }
}
